server:
  port: 18081

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
      enabled: true


spring:
  profiles:
    active: dev

  jpa:
    generate-ddl: 'true'
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: 'true'
    properties:
      hibernate:
        format_sql: 'true'

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
